$xs:576px;
$s:768px;
$md:992px;
$lg:1200px;
@mixin mobile {
    @media (max-width: $xs - 1px) {
        @content;
    }
}

@mixin phablet {
    @media (min-width: $xs) and (max-width: $s - 1px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $s) and (max-width: $md - 1px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: $md) and (max-width: $lg - 1px) {
        @content;
    }
}