* {
  box-sizing: border-box; }
  *:active, *:hover, *:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent; }

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-family: Arial, sans-serif;
  font-size: 15px; }

body {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

body, h1, h2, h3, h4, figure {
  margin: 0;
  padding: 0; }

ul, ol {
  padding-left: 1.2rem; }

a {
  text-decoration: none; }

p {
  font-weight: 400;
  line-height: 1.33;
  margin: 0 auto; }

.page-container {
  overflow: hidden; }

[class*="col-"] {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.312rem 0.312rem;
  position: relative;
  min-height: 1px; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  word-break: break-word; }

.col-1 {
  flex-basis: 8.33333%;
  width: 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex-basis: 16.66667%;
  width: 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex-basis: 25%;
  width: 25%;
  max-width: 25%; }

.col-4 {
  flex-basis: 33.33333%;
  width: 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex-basis: 41.66667%;
  width: 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex-basis: 50%;
  width: 50%;
  max-width: 50%; }

.col-7 {
  flex-basis: 58.33333%;
  width: 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex-basis: 66.66667%;
  width: 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex-basis: 75%;
  width: 75%;
  max-width: 75%; }

.col-10 {
  flex-basis: 83.33333%;
  width: 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex-basis: 91.66667%;
  width: 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%; }

@media (max-width: 1599px) {
  .col-lg-1 {
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }

@media (max-width: 1023px) {
  .col-md-1 {
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }

@media (max-width: 767px) {
  .col-sm-1 {
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }

@media (max-width: 574px) {
  .col-xs-1 {
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-xs-2 {
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-xs-3 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }
  .col-xs-4 {
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-xs-5 {
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-xs-6 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }
  .col-xs-7 {
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-xs-8 {
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-xs-9 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }
  .col-xs-10 {
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-xs-11 {
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-xs-12 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }

.content__item {
  height: 200px;
  background: red;
  border: 1px solid green; }
  .content__item:nth-child(odd) {
    background: aqua; }
