* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  background: #f8f9fc; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      max-width: 960px;
      width: 100%;
      margin: 0 auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 720px;
      width: 100%;
      margin: 0 auto; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      max-width: 540px; } }

.first {
  background-color: #313A5A;
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 4vh;
  position: relative; }
  @media (max-width: 575px) {
    .first {
      padding-top: 0vh; } }

.mob-nav {
  display: none; }
  @media (max-width: 575px) {
    .mob-nav {
      display: flex;
      height: 60px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px; } }
  .mob-nav__btn {
    width: 30px;
    height: 40px;
    padding-top: 10px; }
  .mob-nav__line {
    width: 100%;
    heighT: 2px;
    background-coloR: #fff;
    margin: 6px 0; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px; }
  .nav__logo {
    font-size: 25.6px;
    cursor: pointer; }
    @media (min-width: 768px) and (max-width: 991px) {
      .nav__logo {
        font-size: 22.4px; } }
  .nav__navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 160px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .nav__navbar {
        margin-left: 0px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .nav__navbar {
        margin-left: 0px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .nav__navbar {
        margin-left: 10px; } }
  @media (max-width: 575px) {
    .nav {
      display: none; } }

.navbar__link {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 30px;
  font-weight: 400;
  font-size: 0.9rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar__link {
      padding: 6px 12px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .navbar__link {
      padding: 4px 8px;
      font-size: 0.8rem; } }

.active {
  background: #1fdb84;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(31, 219, 132, 0.6); }

.offer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  height: 584px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1140px;
  margin: 0 auto; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .offer {
      max-width: 960px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .offer {
      max-width: 720px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .offer {
      max-width: 540px; } }
  @media (max-width: 575px) {
    .offer {
      max-width: 520px;
      margin: 0 auto; } }
  .offer__card {
    width: 49%;
    text-align: left;
    padding-top: 120px; }
    @media (max-width: 575px) {
      .offer__card {
        width: 100%;
        padding: 120px 50px 30px 50px;
        text-align: center; } }
  .offer__title {
    font-size: 2.2rem;
    font-weight: 400; }
    @media (min-width: 768px) and (max-width: 991px) {
      .offer__title {
        font-size: 1.6rem; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .offer__title {
        font-size: 1.5rem; } }
  .offer__text {
    font-weight: 400;
    margin-top: 50px;
    font-size: 0.8rem;
    line-height: 2;
    letter-spacing: 1px; }
    @media (min-width: 576px) and (max-width: 767px) {
      .offer__text {
        font-size: 0.8rem;
        margin-top: 60px; } }
  .offer__btn {
    margin-top: 60px;
    padding: 14px 18px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    width: 160px;
    text-align: center; }
    @media (min-width: 768px) and (max-width: 991px) {
      .offer__btn {
        padding: 6px 12px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .offer__btn {
        padding: 8px 12px;
        margin-top: 80px;
        font-size: 0.9rem;
        box-shadow: 0px 2px 6px 0px rgba(31, 219, 132, 0.6); } }
    @media (max-width: 575px) {
      .offer__btn {
        margin: 80px auto 0; } }
  .offer__img {
    width: 49%;
    height: 540px;
    background: url(../../assets/images/hometask7/Artboard.png) no-repeat center right 60px;
    background-size: 340px 540px;
    position: absolute;
    bottom: 0;
    right: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .offer__img {
        right: -50px;
        width: 100%; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .offer__img {
        width: 100%;
        height: 378px;
        background: url(../../assets/images/hometask7/Artboard.png) no-repeat center right 42px;
        background-size: 238px 378px;
        position: absolute;
        bottom: 0;
        right: -30px; } }
    @media (max-width: 575px) {
      .offer__img {
        display: none; } }

.bonus {
  height: 100px;
  max-width: 1400px;
  width: 100%;
  background: #313A5A;
  margin: 0 auto 550px auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .bonus {
      margin: 0 auto 350px auto; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .bonus {
      margin: 0 auto 300px auto; } }
  @media (max-width: 575px) {
    .bonus {
      height: 0px;
      margin: 0 auto 900px auto;
      text-align: center; } }
  .bonus__description {
    width: 100%;
    background: #fff;
    color: #031d5b;
    height: 420px;
    background: #fff;
    border-radius: 10px;
    padding: 70px 80px;
    box-shadow: 0 2px 18px 0 rgba(210, 210, 210, 0.5); }
    @media (min-width: 768px) and (max-width: 991px) {
      .bonus__description {
        padding: 30px 20px 0px 20px;
        height: 360px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .bonus__description {
        padding: 20px 5px 0px 15px;
        height: 330px; } }
    @media (max-width: 575px) {
      .bonus__description {
        height: 860px;
        padding: 30px; } }
  .bonus__blocks {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 575px) {
      .bonus__blocks {
        flex-wrap: wrap; } }
  .bonus__block {
    width: 30%;
    padding-right: 40px; }
    @media (max-width: 575px) {
      .bonus__block {
        width: 100%;
        margin-bottom: 50px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .bonus__block {
        width: 32%;
        padding-right: 5px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .bonus__block {
        padding-right: 20px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .bonus__block {
        padding-right: 10px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .bonus__block {
        padding: 0px 4px; } }
  .bonus__icon {
    width: 72px;
    height: 72px;
    border-radius: 6px;
    background: #E8FBF2 url(../../assets/images/hometask7/shape_3.png) no-repeat center center;
    margin-bottom: 30px; }
    @media (min-width: 576px) and (max-width: 767px) {
      .bonus__icon {
        width: 52px;
        height: 52px;
        background-size: 32px 32px;
        margin-bottom: 15px; } }
    @media (max-width: 575px) {
      .bonus__icon {
        margin: 0 auto 15px auto; } }
  .bonus__title {
    margin-bottom: 26px;
    color: #031d5b;
    font-weight: 500;
    font-size: 1.1rem; }
    @media (min-width: 768px) and (max-width: 991px) {
      .bonus__title {
        font-size: 0.9rem; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .bonus__title {
        font-size: 0.8rem;
        margin-bottom: 12px; } }
  .bonus__divider {
    height: 4px;
    width: 60px;
    background: #1fdb84;
    margin-bottom: 15px; }
    @media (min-width: 576px) and (max-width: 767px) {
      .bonus__divider {
        margin-bottom: 8px; } }
    @media (max-width: 575px) {
      .bonus__divider {
        margin: 0 auto 15px auto;
        width: 120px; } }
  .bonus__text {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 2;
    letter-spacing: 1px;
    color: #5b6c94; }
    @media (min-width: 576px) and (max-width: 767px) {
      .bonus__text {
        font-size: 0.7rem;
        paddingt: 0px 20px; } }

.icon2 {
  background: #E8FBF2 url(../../assets/images/hometask7/shape_2.png) no-repeat center center; }
  @media (min-width: 576px) and (max-width: 767px) {
    .icon2 {
      width: 52px;
      height: 52px;
      background-size: 32px 32px; } }

.icon3 {
  background: #E8FBF2 url(../../assets/images/hometask7/shape.png) no-repeat center center; }
  @media (min-width: 576px) and (max-width: 767px) {
    .icon3 {
      width: 52px;
      height: 52px;
      background-size: 32px 32px; } }

.paidplan__paid-offer {
  text-align: center; }

.paid-offer__text-block {
  width: 740px;
  margin: 0 auto;
  line-height: 1.6; }
  @media (min-width: 576px) and (max-width: 767px) {
    .paid-offer__text-block {
      width: 540px; } }
  @media (max-width: 575px) {
    .paid-offer__text-block {
      max-width: 500px;
      width: 100%;
      padding: 0 30px; } }

.paid-offer__title {
  color: #32325c;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 40px; }
  @media (max-width: 575px) {
    .paid-offer__title {
      font-size: 1.3rem;
      margin-bottom: 20px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .paid-offer__title {
      font-size: 1.7rem;
      margin-bottom: 30px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .paid-offer__title {
      font-size: 1.2rem; } }

.paid-offer__options {
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .paid-offer__options {
      margin-bottom: 40px; } }
  @media (max-width: 575px) {
    .paid-offer__options {
      margin-bottom: 20px; } }

.paid-offer__btn {
  color: #1fdb84;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 28px;
  font-weight: 500;
  display: block;
  font-size: 0.9rem;
  letter-spacing: 2px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .paid-offer__btn {
      padding: 8px 14px;
      font-size: 0.8rem; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .paid-offer__btn {
      padding: 8px 14px;
      font-size: 0.7rem;
      letter-spacing: 1.6px; } }
  @media (max-width: 575px) {
    .paid-offer__btn {
      padding: 8px 14px;
      font-size: 0.7rem;
      letter-spacing: 1.6px; } }

.paid-offer__btn:nth-child(1) {
  border: 1px solid #aefdd9;
  margin: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #ffffff; }

.paid-offer__btn:nth-child(2) {
  background: #f1fff8;
  border-right: 1px solid #aefdd9;
  color: #6fdeaa;
  border-top: 1px solid #aefdd9;
  border-bottom: 1px solid #aefdd9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.accounts {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0; }
  @media (max-width: 575px) {
    .accounts {
      flex-wrap: wrap; } }

.accounts__plan {
  width: 300px;
  height: 540px;
  padding-top: 25px;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .accounts__plan {
      width: 260px;
      height: 440px;
      padding-top: 15px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .accounts__plan {
      width: 220px;
      height: 400px;
      padding-top: 15px; } }
  @media (max-width: 575px) {
    .accounts__plan {
      width: 80%;
      box-shadow: 0 3px 24px 0 rgba(83, 83, 83, 0.1);
      border-radius: 10px;
      margin-bottom: 10px; } }

.active__plan {
  background: #fff;
  border-top: 3px solid #0a8aff;
  box-shadow: 0 7px 12px 0 rgba(83, 83, 83, 0.1); }
  @media (min-width: 768px) and (max-width: 991px) {
    .active__plan {
      box-shadow: 0 3px 24px 0 rgba(83, 83, 83, 0.1);
      border-top: 2px solid #0a8aff; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .active__plan {
      box-shadow: 0 3px 24px 0 rgba(83, 83, 83, 0.1);
      border-top: 2px solid #0a8aff; } }
  @media (max-width: 575px) {
    .active__plan {
      border-top: none; } }

.accounts__title {
  color: #32325c;
  font-size: 1.1rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .accounts__title {
      font-size: 0.9rem; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .accounts__title {
      font-size: 0.8rem; } }

.dollar {
  color: #1fdb84;
  font-size: 4rem;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .dollar {
      font-size: 3.3rem;
      margin-bottom: 0px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .dollar {
      font-size: 2.9rem;
      margin-bottom: 0px; } }

.accounts__price {
  color: #5b6c94;
  font-size: 0.9rem;
  margin-bottom: 40px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .accounts__price {
      font-size: 0.8rem;
      margin-bottom: 25px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .accounts__price {
      font-size: 0.7rem;
      margin-bottom: 20px; } }

.options__item {
  color: #5b6c94;
  font-size: 0.9rem;
  list-style-type: none;
  padding: 12px 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .options__item {
      font-size: 0.8rem; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .options__item {
      font-size: 0.7rem; } }

.options__btn {
  display: block;
  text-decoration: none;
  background: #1fdb84;
  padding: 21px;
  color: #ffffff;
  text-transform: uppercase;
  width: 255px;
  height: 60px;
  margin: 40px auto 0 auto;
  font-size: 0.9rem;
  box-shadow: 0 4px 17px 0 rgba(31, 219, 132, 0.6);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  letter-spacing: 1px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .options__btn {
      padding: 12px;
      width: 200px;
      height: 40px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .options__btn {
      padding: 8px;
      width: 130px;
      height: 30px;
      font-size: 0.6rem;
      margin-top: 30px; } }
  @media (max-width: 575px) {
    .options__btn {
      padding: 15px;
      width: 180px;
      height: 46px;
      font-size: 0.8rem;
      margin-top: 30px; } }

.btn_margin {
  margin-top: 82px; }
  @media (min-width: 576px) and (max-width: 767px) {
    .btn_margin {
      margin-top: 72px; } }

.reviews {
  max-width: 1400px;
  min-height: 970px;
  width: 100%;
  display: flex;
  margin: 260px auto 0 auto; }
  @media (max-width: 575px) {
    .reviews {
      margin-top: 100px;
      max-width: 500px;
      flex-wrap: wrap;
      margin-bottom: 0px;
      min-height: 500px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .reviews {
      margin: 140px auto 0 auto;
      min-height: 640px;
      max-width: 992px;
      width: 100%; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .reviews {
      margin: 90px auto 0 auto;
      min-height: 540px;
      width: 100%;
      max-width: 767px; } }
  .reviews__leftbar {
    width: 520px;
    height: inherit;
    padding-top: 20px;
    padding-left: 80px; }
    @media (max-width: 575px) {
      .reviews__leftbar {
        width: 100%;
        padding: 0px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .reviews__leftbar {
        width: 396px;
        height: inherit;
        padding-top: 20px;
        padding-left: 40px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .reviews__leftbar {
        width: 306px;
        height: inherit;
        padding-top: 10px;
        padding-left: 25px; } }
  .reviews__rightbar {
    width: 880px;
    background: #313A5A;
    height: inherit;
    position: relative; }
    @media (max-width: 575px) {
      .reviews__rightbar {
        width: 100%;
        height: 600px;
        margin-top: 140px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .reviews__rightbar {
        width: 596px;
        height: inherit; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .reviews__rightbar {
        width: 461px;
        height: inherit; } }

.leftbar__block {
  position: relative;
  display: flex;
  padding: 40px 23px; }
  @media (max-width: 575px) {
    .leftbar__block {
      padding: 0;
      justify-content: center;
      margin: 0 auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .leftbar__block {
      padding: 20px 12px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .leftbar__block {
      padding: 12px 7px; } }

.leftbar__bg {
  width: 165px;
  height: 413px;
  background: url(../../assets/images/hometask7/rectangle-7-copy-6.png);
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0; }
  @media (max-width: 575px) {
    .leftbar__bg {
      width: 80px;
      height: 202px;
      background: url(../../assets/images/hometask7/rectangle-7-copy-6.png);
      background-size: 80px 202px;
      margin-right: 5px;
      position: absolute;
      top: 0;
      left: 400px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .leftbar__bg {
      width: 115px;
      height: 289px;
      background: url(../../assets/images/hometask7/rectangle-7-copy-6.png);
      background-size: 115px 289px;
      margin-right: 5px;
      position: absolute;
      top: 0;
      left: 0; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .leftbar__bg {
      width: 80px;
      height: 202px;
      background: url(../../assets/images/hometask7/rectangle-7-copy-6.png);
      background-size: 80px 202px;
      margin-right: 5px;
      position: absolute;
      top: 0;
      left: 0; } }

.leftbar__bg:nth-child(2) {
  left: 210px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .leftbar__bg:nth-child(2) {
      left: 160px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .leftbar__bg:nth-child(2) {
      left: 112px; } }
  @media (max-width: 575px) {
    .leftbar__bg:nth-child(2) {
      left: 285px; } }

.leftbar__title {
  color: #031d5b;
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 500; }
  @media (min-width: 768px) and (max-width: 991px) {
    .leftbar__title {
      font-size: 1.8rem;
      line-height: 1; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .leftbar__title {
      font-size: 1.4rem;
      line-height: 1; } }

.rightbar__cards {
  position: absolute;
  width: 1040px;
  top: 15%;
  right: 0;
  height: 550px;
  overflow: hidden;
  border-right: 1px solid #313A5A; }
  @media (max-width: 575px) {
    .rightbar__cards {
      width: 100%;
      height: 400px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .rightbar__cards {
      width: 740px;
      top: 4%;
      left: -172px;
      height: 520px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .rightbar__cards {
      width: 520px;
      top: 15%;
      right: 0;
      height: 320px; } }

.cards-block__wrapper {
  display: flex;
  position: absolute;
  right: -350px;
  top: 50%;
  transform: translateY(-50%); }
  @media (max-width: 575px) {
    .cards-block__wrapper {
      right: -440px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .cards-block__wrapper {
      display: flex;
      position: absolute;
      right: -240px;
      top: 50%;
      transform: translateY(-50%); } }
  @media (min-width: 576px) and (max-width: 767px) {
    .cards-block__wrapper {
      display: flex;
      position: absolute;
      right: -200px;
      top: 50%;
      transform: translateY(-50%); } }

.cards__card {
  height: 500px;
  width: 420px;
  background: #f8f9fc;
  color: #5b6c94;
  border-radius: 6px;
  padding: 145px 80px 0px 40px;
  margin-right: 30px;
  position: relative; }
  @media (max-width: 575px) {
    .cards__card {
      height: 360px;
      width: 290px;
      background: #f8f9fc;
      color: #5b6c94;
      border-radius: 6px;
      padding: 60px 54px 0px 20px;
      margin-right: 15px;
      position: relative; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .cards__card {
      height: 360px;
      width: 290px;
      background: #f8f9fc;
      color: #5b6c94;
      border-radius: 6px;
      padding: 116px 64px 0px 32px;
      margin-right: 15px;
      position: relative; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .cards__card {
      height: 260px;
      width: 220px;
      background: #f8f9fc;
      color: #5b6c94;
      border-radius: 6px;
      padding: 60px 14px 0px 14px;
      margin-right: 15px;
      position: relative; } }

.card__bg {
  height: 40px;
  width: 18px;
  background: url(../../assets/images/hometask7/rectangle_for_card.png);
  background-size: 18px 40px;
  position: absolute;
  top: 85px;
  left: 40px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .card__bg {
      height: 28px;
      width: 12px;
      background-size: 12px 28px;
      position: absolute;
      top: 45px;
      left: 30px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .card__bg {
      height: 22px;
      width: 8px;
      background-size: 8px 22px;
      position: absolute;
      top: 25px;
      left: 18px; } }
  @media (max-width: 575px) {
    .card__bg {
      height: 22px;
      width: 8px;
      background-size: 8px 22px;
      position: absolute;
      top: 25px;
      left: 18px; } }

.card__bg:nth-child(2) {
  left: 65px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .card__bg:nth-child(2) {
      left: 50px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .card__bg:nth-child(2) {
      left: 35px; } }
  @media (max-width: 575px) {
    .card__bg:nth-child(2) {
      left: 35px; } }

.card__bg_active {
  background: url(../../assets/images/hometask7/rectangle_active.png);
  height: 40px;
  width: 18px;
  background-size: 18px 40px;
  position: absolute;
  top: 85px;
  left: 40px; }
  @media (max-width: 575px) {
    .card__bg_active {
      height: 22px;
      width: 8px;
      background-size: 8px 22px;
      position: absolute;
      top: 25px;
      left: 18px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .card__bg_active {
      height: 28px;
      width: 12px;
      background-size: 12px 28px;
      position: absolute;
      top: 45px;
      left: 30px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .card__bg_active {
      height: 22px;
      width: 8px;
      background-size: 8px 22px;
      position: absolute;
      top: 25px;
      left: 18px; } }

.active__card {
  background: #1FDB84;
  box-shadow: 0 8px 31px 0 rgba(31, 219, 132, 0.6);
  color: #fff; }
  @media (min-width: 576px) and (max-width: 767px) {
    .active__card {
      box-shadow: 0 4px 18px 0 rgba(31, 219, 132, 0.6); } }
  @media (max-width: 575px) {
    .active__card {
      box-shadow: 0 4px 18px 0 rgba(31, 219, 132, 0.6); } }

.text__opacity {
  opacity: 0.8; }

.text__opacity2 {
  opacity: 0.4; }

.cards__text {
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 75px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .cards__text {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 25px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .cards__text {
      font-size: 0.8rem;
      line-height: 1.3;
      margin-bottom: 25px; } }
  @media (max-width: 575px) {
    .cards__text {
      font-size: 1.1rem;
      line-height: 1.3;
      margin-bottom: 35px; } }

.aligner {
  margin-bottom: 140px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .aligner {
      margin-bottom: 60px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .aligner {
      margin-bottom: 60px; } }

.aligner2 {
  margin-bottom: 110px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .aligner2 {
      margin-bottom: 44px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .aligner2 {
      margin-bottom: 30px; } }
  @media (max-width: 575px) {
    .aligner2 {
      margin-bottom: 36px; } }

.text-bold {
  font-weight: 500; }

.right-bar__points {
  height: 25px;
  width: 170px;
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex; }
  @media (min-width: 768px) and (max-width: 991px) {
    .right-bar__points {
      left: 20%;
      bottom: 12%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .right-bar__points {
      left: 25%;
      bottom: 15%; } }
  @media (max-width: 575px) {
    .right-bar__points {
      left: 50%;
      transform: translateX(-50%); } }

.points__item {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-right: 15px;
  cursor: pointer; }
  @media (min-width: 768px) and (max-width: 991px) {
    .points__item {
      height: 16px;
      width: 16px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .points__item {
      height: 14px;
      width: 14px; } }
  @media (max-width: 575px) {
    .points__item {
      height: 14px;
      width: 14px; } }

.points__item-active {
  background: #ffffff; }

.points__item:hover {
  background: #fff; }

.work {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px; }
  @media (max-width: 575px) {
    .work {
      margin-top: 80px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .work {
      margin-top: 100px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .work {
      margin-top: 80px; } }
  .work__title {
    color: #031d5b;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-weight: 500; }
    @media (max-width: 575px) {
      .work__title {
        font-size: 0.89rem; } }
  .work__img {
    margin-right: 50px; }
    @media (max-width: 575px) {
      .work__img {
        margin-bottom: 50px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .work__img {
        margin-right: 20px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .work__img {
        margin-right: 70px;
        margin-bottom: 50px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .work__img {
        margin-right: 30px;
        margin-bottom: 50px; } }
    .work__img__img:first-child {
      margin-left: 30px; }
  .work__img:last-child {
    margin-right: 0px; }

.footer {
  color: #5b6c94;
  text-align: center; }
  @media (max-width: 575px) {
    .footer {
      font-size: 0.89rem; } }
  .footer__navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 114px;
    text-align: center; }
  .footer__item {
    margin-right: 24px; }
    @media (max-width: 575px) {
      .footer__item {
        margin-right: 12px; } }
  .footer__link {
    text-decoration: none;
    color: #5b6c94; }
